{
    "witness": "",
    "timer_minute": 2,
    "maigcwalletrate":0.4,
    "magicwalletkey":"",
    "fubt_key":"",
    "black_min":1.15,
    "price_mode":3,
    "price_coefficient":2,
    "negative_feedback": 1,
    "negative_feedback_rate": 0.15,
    "negative_feedback_min":0.1,
    "negative_feedback_max":0.2,
    "asset_list": [
        "BTC", "SILVER", "GOLD", "TRY", "SGD", "HKD", "NZD", "CNY", "GCNY",
    "MXN", "CAD", "CHF", "AUD", "GBP", "JPY", "EUR", "USD", "KRW", "TUSD", "ARS"],
    "alias": {
        "RUBLE": "RUB"
    },
    "ver_assets":["CNY","USD","EUR","RUB","BTC"],
    "cli_wallet": {
        "host" : "localhost",
        "port" : 8092,
        "user" : "",
        "passwd" : "",
        "unlock" : ""
    },
    "price_limit": {
        "common": "only update price feed when the change rate is between 1% ~ 50%",
        "change_min": 0.5,
        "change_max": 50,
        "common": "spread bid price to price*(1+spread), ask price to price*(1-spread)",
        "common": "excute the order book, get the real price",
        "spread": 0.01,
        "common": "we use the average price in this time",
        "filter_minute": 30,
        "check_blackswan": 0
    },
    "market_weight": {
        "btsbots_cny": 1.0,
        "btsbots_usd": 1.0,
        "btsbots_open.btc": 0.0,
        "aex_cnc": 1.0,
        "fubt_fbt": 1.0,
        "fubt_usdt": 1.0,
        "aex_usdt": 1.0,
        "zb_usdt": 1.0,
        "zb_btc": 0.0,
        "lbank_btc": 0.0,
        "binance_btc": 0.0,
        "poloniex_btc": 0.0
    },
    "asset_config": {
        "default": {
            "core_exchange_factor": 1.20,
            "maintenance_collateral_ratio": 1750,
            "maximum_short_squeeze_ratio": 1100,
            "quote_asset": "BTS",
            "quote_asset_id": "1.3.0",
            "min_price":0,
            "use_baip2":0
        },
        "GCNY": {
            "core_exchange_factor": 1.20,
            "maintenance_collateral_ratio": 1500,
            "maximum_short_squeeze_ratio": 1010,
            "quote_asset": "GDEX.BTC",
            "quote_asset_id": "1.3.2241"
        },
        "TUSD": {"maximum_short_squeeze_ratio": 1050}
    },
    "pusher": {
        "common": "set enable to 1, if you want to subscribe data from pusher service",
        "enable": "1",
        "user": "",
        "password": ""
    }
}
